@use '../../scss/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: $color-text-light;
}

.title {
  font-size: 4.8rem;
}

.page {
  font-size: 3.2rem;
}

.pagination {
  display: flex;
}