@use '../../scss/variables' as *;

.root {
  display: inline-block;
  min-width: 140px;
  padding: 15px 25px;
  font-size: 2rem;
  background: $color-button-primary-bg;
  color: $color-button-primary-text;
  border-radius: 8px;
  cursor: pointer;
  transition: $transition-main;

  &:hover {
    background: $color-button-primary-bg--hover;
  }

  &:disabled {
    background: $color-button-primary--disabled;
    pointer-events: none;
  }
}