@use '../../scss/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: $color-text-light;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page {
  font-size: 2.4rem;
}

.pagination {
  display: flex;
}