* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: $color-bg-dark-blue;
  font-family: $font-helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main, header {
  padding: 20px;
}

main {
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  gap: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 80px;

  .gh-logo, .rs-logo {
    height: 48px;
    width: auto;
  }
}

.footer-info {
  font-size: 2.4rem;
  color: $color-text-light;
}