// Colors
$color-bg-dark-blue: #060811;

$color-button-primary-bg: #313d75;
$color-button-primary-bg--hover: #3d497d;
$color-button-primary-text: #dfdfdf;
$color-button-primary--disabled: #121317;

$color-border-dark: #313d75;
$color-border-dark--focus: #34479a;

$color-input-bg-dark: #0c0f1d;
$color-input-bg-dark--focus: #121625;
$color-input-bg-dark--disabled: #121317;

$color-text-light: #ffffff;
$color-text-winner: #e2d300;

// Fonts
$font-helvetica: -apple-system, 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

$font-roboto: -apple-system, 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

// Transition
$transition-main: 80ms all ease-in-out;
