// Colors
$color-bg-dark-blue: #13151f;

$color-button-primary-bg: #2c2933;
$color-button-primary-bg--hover: #373340;
$color-button-primary-border: #423d4d;
$color-button-primary-text: #dfdfdf;
$color-button-primary-text--disabled: #b0b0b0;
$color-button-primary--disabled: #0e0e13;

$color-border-dark: #313d75;
$color-border-dark--focus: #373d57;

$color-input-bg-dark: #1d202d;
$color-input-bg-dark--focus: #252937;
$color-input-bg-dark--disabled: #0e0e13;

$color-text-light: #ffffff;
$color-text-winner: #e2d300;

// Fonts
$font-helvetica: -apple-system, 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

$font-roboto: -apple-system, 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

// Transition
$transition-main: 80ms all ease-in-out;
