// Colors
$color-bg-dark-blue: #121319;

$color-text-light: #ffffff;

// Fonts
$font-helvetica: -apple-system, 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

$font-roboto: -apple-system, 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Oxygen', 
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;